#usersTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

table {
  width: 80%;
  text-align: center;
}

th {
  border: 2px solid black;
  font-size: 20px;
  height: 24px;
  background-color: gray;
  color: white;
}

td {
  border: 2px solid black;
  font-size: 18px;
  height: 20px;
  background-color: bisque;
}
